/*Обертка для place__paragraph*/

@media screen and (max-width: 449px) {
  .place__article {			
    padding: 0 16px 0 16px;
/*К элементу 2 раза применяется padding, так как у обертки div и у элемента одинаковые классы*/
/*Для экранов до 450px блок place наложен на все столбцы грида, необходимо для того, чтобы элемент place__image был на всю ширину экрана*/
/*паддингом добился нужного отступа в 16px по бокам для элемента place__paragraph для экранов шириной до 450px*/
  }
}

@media screen and (min-width: 450px) {
  .place__article {
  }
}

@media screen and (min-width: 1024px) {
  .place__article {
  }
}

.place__article {
	box-sizing:border-box;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 24px;
	margin: 0;
}