@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);


/*Во всех типах экрана имеет отступы, поэтому распологаем между 2 и 3 вертикальнымы линиями*/
.header {
	width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
	box-sizing:border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}