@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-text/intro__list-text.css);


@media screen and (max-width: 1279px) {
  .intro {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    /*Ширину блока задаем равной ширине блока lead, и выравниваем по центру, таким образом у них будет одинаковый отступ от левого края экрана*/
    max-width: 984px;
    margin: 0 auto;
  }
}

.intro {
  grid-column: 2/3;
  grid-row: 3/4;
  box-sizing:border-box;
}