.cover__background {
	grid-area: 1 / 1 / 2 / 2;
	opacity: 0.8; /*Немного затемнил изображение, чтобы заголовок и подзаголок читались*/
	transition: opacity 124ms linear, transform 124ms linear;
	width: 100%;
	display: block;
	object-fit: cover;
}