@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);


@media screen and (max-width: 767px) {
  .footer {
   display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
		flex-direction: row;
		justify-content: space-between;
  }
}


.footer {
  width: 100%;
  grid-column: 2/3;
  grid-row: 7/8;
	box-sizing: border-box;
	margin: 0 auto;
  align-items: baseline;
}