@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);


@media screen and (max-width: 449px) {
  .footer {
    display: block;
    padding: 0 16px 0 16px;
  }
}

@media screen and (min-width: 450px) {
  .footer {
    display: block;
    padding: 0 20px 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 0 48px 0 48px;
  }
}


.footer {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: baseline;
}